.khan__buy-link {
    font-family: 'Inter';
    font-size: 30px;
    line-height: 42px;
    color: #2F80ED;
    text-decoration: none;
    transition: 0.3s;
    margin-left: 48px;
    display: block;
    height: 40px;
}

.khan__buy-link:hover {
    opacity: 0.5;
    transition: 0.3s;
}